* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-yellow-sun: #e5c48a;
    --color-salmon-pink: #c64d11;
    --color-denim-blue: #1e2f4f;
    --color-font-light: #fff;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: black
}

header,
main,
footer,
section,
div {
    width: 840px;
    margin: 0 auto;
}

header {
    background-color: var(--color-font-light);
    display: grid;
    grid-template-columns: 10rem 1fr;
    align-items: center;
    place-items: center;
}

header img {
    width: 5rem;
    margin: 10px;
}

header nav {
    grid-column: 2/3;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

header nav a {
    padding: 0.5rem;
    border: 0px solid var(--color-font-light);
    color: var(--color-denim-blue);
    font-weight: bolder;
    text-decoration: none;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--color-font-light);
}

nav,
p {
    margin: 16px;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 20rem 1fr;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

section h2 {
    grid-column: 1/span 3;
}

section img {
    width: 20rem;
}

section p {
    padding: 10px;
    margin: 1rem;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 2rem;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 2rem;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--color-denim-blue);

}

h2 {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: var(--color-salmon-pink);
}

.hero article {
    bottom: 25px;
    width: 28rem;
    right: 20px;
    position: absolute;
    padding: 10px;
    background-color: var(--color-yellow-sun);
    opacity: 0.7;
}

.hero article img {
    float: right;
    margin: 20px;
    width: 125px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

figure img {
    max-width: 120px;
    margin-top: 15px;
}

figcaption {
    background-color: #222222;
    color: var(--color-font-light);
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

footer p {
    text-align: center;
}

footer nav {
    display: flex;
    justify-content: flex-end;
}

/* 
footer img {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
} */