* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border-image: 1px solid rgb(0 0 0 / 0.2);
    --background-color-light: #dbdaaf;
    --background-color-dark: #48521c;
    --font-color-light: #FCFFF5;
}

nav {
    background-color: #48521C;
    padding: 10px;
}

nav a {
    color: var(--font-color-light);
    display: inline;
    padding: 20px;
}

h1 {
    color: #999F54;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border-image);
    padding: 0px;
    box-shadow: 0 0 20px gray;
    margin: 2rem;
}

p {
    padding: 0;
}

main {
    max-width: 850px;
}

aside {
    position: relative;
    width: 20rem;
    margin: 1rem;
    border: var(--border-image);
    padding: 10px;
    background-color: var(--background-color-light);
    color: black;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 4rem;
    left: 5rem;
    padding: 5px;
    background-color: var(--background-color-dark);
    color: var(--font-color-light);
    font-size: medium;
}

aside img {
    width: 200px;
    height: auto;
    box-shadow: 0 0 20px black;
    margin: 1rem;
}

footer {
    margin-top: 20px;
    border-top: 2px solid var(--background-color-light);
    text-align: center;
}

/* Class Selectors*/

.box {
    margin: 1rem;
    border: 1px solid png(0 0 0 / 0.2);
    padding: 2rem;
    background-color: var(--background-color-light);

}